<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TMDB Movie Explorer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TMDBMovieExplorer.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="fas fa-film me-2"></i>TMDB Movie Explorer
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="moviesDropdown" role="button" data-bs-toggle="dropdown">
                                Movies
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Movies" asp-action="Index" asp-route-category="popular">Popular</a></li>
                                <li><a class="dropdown-item" asp-controller="Movies" asp-action="Index" asp-route-category="top-rated">Top Rated</a></li>
                                <li><a class="dropdown-item" asp-controller="Movies" asp-action="Index" asp-route-category="now-playing">Now Playing</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                    </ul>
                    <form class="d-flex" asp-controller="Movies" asp-action="Search" method="get">
                        <input class="form-control me-2" type="search" name="query" placeholder="Search movies..." value="@ViewBag.SearchQuery">
                        <button class="btn btn-outline-light" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content wrapper with flex layout -->
    <div class="d-flex flex-column min-vh-100">
        <main role="main" class="flex-grow-1">
            @RenderBody()
        </main>

        @* <!-- Footer will stick to bottom -->
        <footer class="footer mt-auto py-3 bg-light border-top">
            <div class="container text-center">
                <span class="text-muted">&copy; 2025 - TMDB Movie Explorer - Powered by TMDB API</span>
            </div>
        </footer> *@
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>